.customization_panel_hbox {
    -fx-padding: 40;
}

.customization_panel_back {
    -fx-background-color: #2a6666;
    -fx-opacity: 0.5;
}

.back_button {
    -fx-background-color: #223dbc;
    -fx-text-fill: white;
}

.start {
    -fx-background-color: #db2f2f;
}

.bottom_buttons_hbox {
    -fx-spacing: 350;
}

.bottom_buttons {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font-family: "Bernard MT Condensed";
    -fx-min-width: 175px;
}

.screen {
    -fx-background-image: url("/main/design/images/dungeon.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-spacing: 50px;
}

.choose_character {
}

.nav_buttons {
}

.entry_fields {
    -fx-spacing: 50;
}

.rect {
    -fx-arc-height: 10px;
    -fx-arc-width: 10px;
    -fx-fill: #1d9179;
    -fx-border-color: #000000;
    -fx-border-radius: 10px;
    -fx-opacity: 0.7;
}

.weapons_rect {

}

.name_vbox {

}

.name {

}

.weapons_vbox {

}

.center {
    -fx-alignment: center;
}

.entry_boxes {
    -fx-spacing: 4px;
}

.label {
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-font-family: "Bernard MT Condensed";
    -fx-text-fill: silver;
}

.name_field {

}

.choose {
    -fx-text-fill: black;
    -fx-background-color: grey;
    -fx-arc-width: 30;
    -fx-arc-height: 30;
    -fx-opacity: 0.8;
}

.forward {
    -fx-text-fill: black;
    -fx-background-color: grey;
    -fx-arc-width: 10;
    -fx-arc-height: 10;
    -fx-opacity: 0.8;
}

.backward {
    -fx-text-fill: black;
    -fx-background-color: grey;
    -fx-arc-width: 30;
    -fx-arc-height: 30;
    -fx-opacity: 0.8;
}

.weapon_description {
    -fx-text-alignment: center;
    -fx-font-family: "Times New Roman";
    -fx-font-size: 15px;
    -fx-text-fill: white;
}

.dName {
    -fx-text-fill: red;
    -fx-font-size: 20px;
}

.aName {
    -fx-text-fill: blue;
    -fx-font-size: 20px;
}

.sName {
    -fx-text-fill: orange;
    -fx-font-size: 20px;
}

.dDescription {
    -fx-font-size: 10px;
}